.issues .no-results {
  font-size: small;
  color: #b6b6b6;
}
.issues .issues-results {
  list-style: none;
  padding-left: 0;
  margin-right: 30px;
}
.issues .issues-results li {
  position: relative;
  border-left: #cecece solid 1px;
  border-top: #cecece solid 1px;
  border-right: #cecece solid 1px;
  padding: 10px 15px;
}
.issues .issues-results li:last-child {
  border-bottom: #cecece solid 1px;
}
.issues .issues-results li .text {
  margin-right: 48px;
}
.issues .issues-results li .text .state-open {
  margin-right: 6px;
  color: green;
}
.issues .issues-results li .text .title {
  color: #757575;
  font-weight: bold;
}
.issues .issues-results li .text .number-date {
  color: #959595;
  font-size: smaller;
}
.issues .issues-results li .avatar {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 10px;
  top: 5px;
}
