<div class="issues">
    <div class="row">
        <form class="form-inline" ng-submit="vm.searchIssues(1)" autocomplete="off">
            <div class="form-group">
                <label for="owner">Owner</label>
                <input type="text" class="form-control" id="owner" required ng-model="vm.owner">
            </div>
            <div class="form-group">
                <label for="repo">Repo</label>
                <input type="text"
                       class="form-control"
                       id="repo"
                       required ng-model="vm.repo"

                       uib-typeahead="repoName for repoName in vm.getRepoNames($viewValue)"
                       typeahead-loading="loadingRepoNames"
                       typeahead-no-results="noResults"
                       typeahead-on-select="vm.searchIssues(1)"
                        >
            </div>

            <button type="submit" class="btn btn-default">Search issues</button>
            <i ng-show="loadingRepoNames" class="progress-32"></i>
            <span ng-show="noResults" class="no-results">Repos not found</span>

            <div class="form-group" style="float: right;">
                <label for="perPage"> Issues per page: </label>
                <select id="perPage" class="form-control" ng-model="vm.perPageSelect">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.error !== null">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{vm.error}}
        </div>
        <div class="alert alert-warning alert-dismissible" role="alert" ng-show="vm.issues.length === 0">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> There is no issues for selected repository.
        </div>
    </div>

    <div class="row">
        <ul class="issues-results">
            <li ng-repeat="issue in vm.issues">
                <div class="text">
                    <i ng-if="issue.state === 'open'" class="state-open fa fa-pencil-square-o" aria-hidden="true"></i>
                    <a class="title" ui-sref="issue({owner: vm.owner, repo: vm.repo, number: issue.number})" ng-bind="issue.title"></a>
                    <div class="number-date">
                        <span ng-bind="'#' + issue.number"></span>
                        opened <span ng-bind="issue.created_at | myNiceDate"></span>
                    </div>
                </div>
                <a target="_blank" href="{{issue.user.html_url}}">
                    <img class="avatar" ng-src="{{issue.user.avatar_url}}" uib-tooltip="{{issue.user.login}}" tooltip-placement="left" />
                </a>
            </li>
        </ul>
        <ul ng-show="vm.totalItemsRoughly > 0" uib-pagination
            total-items="vm.totalItemsRoughly" ng-model="vm.currentPage"
            max-size="vm.maxSize" class="pagination-sm" boundary-link-numbers="true"
            items-per-page="vm.perPage"
            rotate="true" force-ellipses="true" ng-change="vm.pageChanged()">
        </ul>
    </div>
</div>
